numpy
pandas
matplotlib
scikit-learn
Pillow

tensorflow
keras
torch
torchvision

opencv-python

gymnasium
gymnasium[classic-control]
gymnasium[box2d]

scipy

transformers
sentence-transformers
faiss-cpu
pypdf
accelerate
huggingface-hub

flask
gunicorn

requests

streamlit
